 .u-section-1 {
  background-image: none;
  min-height: 1199px;
}

.u-section-1 .u-shape-1 {
  height: 681px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  width: 822px;
  margin: -601px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 754px;
  margin: 71px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 378px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 361px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 7px;
}

.u-section-1 .u-icon-3 {
  width: 89px;
  height: 89px;
  margin: 0 auto 0 118px;
  padding: 4px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2px 26px 0 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 13px 31px 0 13px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 19px 149px 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 367px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 151px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 644px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 112px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 5px;
    margin-right: 23px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 141px;
    margin-right: 141px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 144px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1687px;
  }

  .u-section-1 .u-shape-1 {
    height: 848px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: -768px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 216px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1631px;
  }

  .u-section-1 .u-shape-1 {
    height: 1023px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: -943px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -215px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 135px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 69px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 136px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}